<div class="footer" style="display: flex;">
    <div>
        <h4>Contact</h4>
        <table>
            <tr><td>🏠</td><td>Unit 52A1, Bristol Rd, Gloucester GL1 5RZ</td></tr>
            <tr><td>Phone</td><td><a href="tel:+447821416161">+447821416161</a></td></tr>
            <tr><td>Google</td><td><a href="https://share.google/ncp1swCLLajdPHQ29">Glass Goblin on Google</a></td></tr>
            <tr><td>Facebook</td><td><a href="https://www.facebook.com/glassgoblinuk/">Glass Goblin on Facebook</a></td></tr>
        </table>
        <br></br>
        <span>Built by the chief Goblin herself, with minor assistance from Mr Goblin. Published {{ site.time | date: "%Y" }}.</span>
    </div>
    <div>        
        <img src="https://scontent-man2-1.xx.fbcdn.net/v/t39.30808-6/494724109_122134445096616887_3289750415192805686_n.jpg?_nc_cat=101&ccb=1-7&_nc_sid=1d70fc&_nc_ohc=rII6j5xllAsQ7kNvwHoBv6G&_nc_oc=AdkVGbU0zjIYcLyVc47rCRIYMmt0GksjSJQZ878ojxBLmYL9XNSNUy2SfqeOLhTA8-s&_nc_zt=23&_nc_ht=scontent-man2-1.xx&_nc_gid=Q_bC_Q9P0GbkQLq2JD_otw&_nc_ss=8&oh=00_AfwLF8rhWwBvFiXcnPV5MAlKGH_hrd8SBuV13gAR774oag&oe=69B914B5" />
    </div>
</div>
