<div class="footer" style="display: flex;">
    <div>
        <h4>Contact</h4>
        <table>
            <tr><td>🏠</td><td>ADHD Collective, Minchinhampton, GL6 9BB</td></tr>
            <tr><td>📧</td><td><a href="mailto:stroudadhd@gmail.com">stroudadhd@gmail.com</a></td></tr>
            <tr><td>💬</td><td><a href="https://www.facebook.com/groups/2123882871088294">Stroud ADHD Collective Facebook Group</a></td></tr>
        </table>
        <br></br>
        <span>Built by human volunteers a lot later than promised in {{ site.time | date: "%Y" }}.</span>
    </div>
    <div>        
        <img src="/assets/images/logo_square_256.jpg" />
    </div>
</div>