// Brand
$brand-black: #020000; // Diesel
$brand-blue: #0B60B9; // Denim
$brand-green: #39BE37; // Apple
$brand-grey-light: #BCBCBC; // Silver
$brand-grey-medium: #89898A; // Jumbo
$brand-grey-dark: #333333; // Mine Shaft
$brand-orange: #F77D2C; // Crusta
$brand-purple: #CF28EE; // Electric Violet
$brand-red: #BC1F2B; // Cardinal
$brand-yellow: #FDF85C; // Candy Corn
$brand-yellow-bee: #FFC65C; // Golden Tainoi
$brand-primary: $brand-yellow-bee;
$brand-secondary: $brand-orange;
$brand-tertiary: $brand-grey-dark;

// Headers
$header-heading-color: $brand-black;
$header-bg-color: $brand-yellow-bee;
$header-bg-color-secondary: $brand-yellow;

// Text
$section-headings-color: $brand-orange;
$body-text-color: $brand-grey-medium;
$body-link-color: $brand-blue;
$blockquote-text-color: $brand-grey-medium;

// Borders
$border-color: #dce6f0;
$table-border-color: #e9ebec;
$hr-border-color: #eff0f1;

// Breakpoints
$large-breakpoint: 64em;
$medium-breakpoint: 42em;
