<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
    {% seo %}
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link rel="preload" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap" as="style" type="text/css" crossorigin>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head.html %}
  </head>
  <body>
    <a href="/" class="header-link">
      <header class="page-header" role="banner">
        {% include header.html %}
      </header>
    </a>
    <nav>
      {% for item in site.data.navigation %}
        <a href="{{ site.url }}/{{ item.link }}" {% if page.url == item.link %}style="color: red;"{% endif %}>
          {{ item.name }}
        </a>
      {% endfor %}
    </nav>
    <main id="content" class="main-content" role="main">
      {{ content }}
      <footer class="site-footer">
        {% include footer.html %}       
      </footer>
    </main>
  </body>
</html>
